= form_for @rw_station do |f|
  -if @rw_station.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rw_station.errors.count, "error")} Чтобы сохранить:"
      %ul
        - @rw_station.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :"Station`s Zone"
    = f.text_field :rw_zone
  .field
    = f.label :name_eng
    = f.text_field :name_eng
  .field
    = f.label :name_rus
    = f.text_field :name_rus
  .field
    = f.label "Type Station"
    = f.select :rw_typestation_id, RwTypestation.all.collect{|item| [item.typestation_name, item.id]}
  .field
    = f.label :rw_route_id
    = f.text_field :rw_route_id
  .actions
    = f.submit 'Сохранить'
