<%= form_for(@timetableap) do |f| %>
  <% if @timetableap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetableap.errors.count, "error") %> prohibited this timetableap from being saved:</h2>

      <ul>
      <% @timetableap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Flight_Number %><br />
    <%= f.number_field :Flight_Number %>
  </div>
  <div class="field">
    <%= f.label :aircompany_id %><br />
    <%= f.select :aircompany_id, Aircompany.all.collect{|item| [item.Airline_name_rus, item.id]} %>
  </div>
  <div class="field">
    <%= f.label :way_start %><br />
	<%= f.select :way_start, Airport.where(iso_code: 'EZ').collect{|item| [item.name_rus, item.id]} %>
  </div>
  <div class="field">
    <%= f.label :way_end %><br />
    <%= f.select :way_end, Airport.where(iso_code: 'EZ').collect{|item| [item.name_rus, item.id]} %>
  </div>
  <div class="field">
    <%= f.label :TermStart %><br />
    <%= f.text_field :TermStart %>
  </div>
  <div class="field">
    <%= f.label :GateStart %><br />
    <%= f.text_field :GateStart %>
  </div>
  <div class="field">
    <%= f.label :TermEnd %><br />
    <%= f.text_field :TermEnd %>
  </div>
  <div class="field">
    <%= f.label :GateEnd %><br />
    <%= f.text_field :GateEnd %>
  </div>
  <div class="field">
    <%= f.label :TypeOfPlane %><br />
    <%= f.text_field :TypeOfPlane %>
  </div>
  <div class="field">
    <%= f.label :TimeStart %><br />
    <%= f.time_select :TimeStart %>
  </div>
  <div class="field">
    <%= f.label :TimeEnd %><br />
    <%= f.time_select :TimeEnd %>
  </div>
  <div class="field">
    <%= f.label :DateOfStartNav %><br />
    <%= f.date_select :DateOfStartNav %>
  </div>
  <div class="field">
    <%= f.label :DateOfEndNav %><br />
    <%= f.date_select :DateOfEndNav %>
  </div>
  <div class="field">
    <%= f.label "Mon" %><br />
	<%= f.check_box(:s1, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e1, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>
  <div class="field">
    <%= f.label "Tue" %><br />
    <%= f.check_box(:s2, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e2, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>
  <div class="field">
    <%= f.label "Wen" %><br />
    <%= f.check_box(:s3, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e3, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>
  <div class="field">
    <%= f.label "The" %><br />
    <%= f.check_box(:s4, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e4, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>
  <div class="field">
    <%= f.label "Fri" %><br />
    <%= f.check_box(:s5, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e5, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>
  <div class="field">
    <%= f.label "Sat" %><br />
    <%= f.check_box(:s6, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e6, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>
  <div class="field">
    <%= f.label "Sun" %><br />
    <%= f.check_box(:s0, options = {}, checked_value = "1", unchecked_value = "0") %>
	<%= f.check_box(:e0, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
