<h1>Listing timetableaps</h1>

<table>
  <tr>
    <th></th>
    <th>Flight number</th>
    <th>Aircompany</th>
    <th>Way start</th>
    <th>Way end</th>
    <th>Termstart</th>
    <th>Gatestart</th>
    <th>Termend</th>
    <th>Gateend</th>
    <th>Typeofplane</th>
    <th>Timestart</th>
    <th>Timeend</th>
    <th>Dateofstartnav</th>
    <th>Dateofendnav</th>
    <th>S1</th>
    <th>S2</th>
    <th>S3</th>
    <th>S4</th>
    <th>S5</th>
    <th>S6</th>
    <th>S0</th>
    <th>E1</th>
    <th>E2</th>
    <th>E3</th>
    <th>E4</th>
    <th>E5</th>
    <th>E6</th>
    <th>E0</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timetableaps.each do |timetableap| %>
  <tr>
    <td><a href="">Сформировать данные</a><td>
    <td><%= timetableap.Flight_Number %></td>
    <td><%= timetableap.aircompany.Airline_name_rus %></td>
    <td><%= timetableap.city_rus_start %></td>
    <td><%= timetableap.city_rus_end %></td>
    <td><%= timetableap.TermStart %></td>
    <td><%= timetableap.GateStart %></td>
    <td><%= timetableap.TermEnd %></td>
    <td><%= timetableap.GateEnd %></td>
    <td><%= timetableap.TypeOfPlane %></td>
    <td><%= timetableap.TimeStart %></td>
    <td><%= timetableap.TimeEnd %></td>
    <td><%= timetableap.DateOfStartNav %></td>
    <td><%= timetableap.DateOfEndNav %></td>
    <td><%= timetableap.s1 %></td>
    <td><%= timetableap.s2 %></td>
    <td><%= timetableap.s3 %></td>
    <td><%= timetableap.s4 %></td>
    <td><%= timetableap.s5 %></td>
    <td><%= timetableap.s6 %></td>
    <td><%= timetableap.s0 %></td>
    <td><%= timetableap.e1 %></td>
    <td><%= timetableap.e2 %></td>
    <td><%= timetableap.e3 %></td>
    <td><%= timetableap.e4 %></td>
    <td><%= timetableap.e5 %></td>
    <td><%= timetableap.e6 %></td>
    <td><%= timetableap.e0 %></td>
    <td><%= link_to 'Show', timetableap %></td>
    <td><%= link_to 'Edit', edit_timetableap_path(timetableap) %></td>
    <td><%= link_to 'Destroy', timetableap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timetableap', new_timetableap_path %>
