<p id="notice"><%= notice %></p>

<p>
  <b>Flight number:</b>
  <%= @timetableap.Flight_Number %>
</p>

<p>
  <b>Aircompany:</b>
  <%= @timetableap.aircompany_id %>
</p>

<p>
  <b>Way start:</b>
  <%= @timetableap.way_start %>
</p>

<p>
  <b>Way end:</b>
  <%= @timetableap.way_end %>
</p>

<p>
  <b>Termstart:</b>
  <%= @timetableap.TermStart %>
</p>

<p>
  <b>Gatestart:</b>
  <%= @timetableap.GateStart %>
</p>

<p>
  <b>Termend:</b>
  <%= @timetableap.TermEnd %>
</p>

<p>
  <b>Gateend:</b>
  <%= @timetableap.GateEnd %>
</p>

<p>
  <b>Typeofplane:</b>
  <%= @timetableap.TypeOfPlane %>
</p>

<p>
  <b>Timestart:</b>
  <%= @timetableap.TimeStart %>
</p>

<p>
  <b>Timeend:</b>
  <%= @timetableap.TimeEnd %>
</p>

<p>
  <b>Dateofstartnav:</b>
  <%= @timetableap.DateOfStartNav %>
</p>

<p>
  <b>Dateofendnav:</b>
  <%= @timetableap.DateOfEndNav %>
</p>

<p>
  <b>S1:</b>
  <%= @timetableap.s1 %>
</p>

<p>
  <b>S2:</b>
  <%= @timetableap.s2 %>
</p>

<p>
  <b>S3:</b>
  <%= @timetableap.s3 %>
</p>

<p>
  <b>S4:</b>
  <%= @timetableap.s4 %>
</p>

<p>
  <b>S5:</b>
  <%= @timetableap.s5 %>
</p>

<p>
  <b>S6:</b>
  <%= @timetableap.s6 %>
</p>

<p>
  <b>S0:</b>
  <%= @timetableap.s0 %>
</p>

<p>
  <b>E1:</b>
  <%= @timetableap.e1 %>
</p>

<p>
  <b>E2:</b>
  <%= @timetableap.e2 %>
</p>

<p>
  <b>E3:</b>
  <%= @timetableap.e3 %>
</p>

<p>
  <b>E4:</b>
  <%= @timetableap.e4 %>
</p>

<p>
  <b>E5:</b>
  <%= @timetableap.e5 %>
</p>

<p>
  <b>E6:</b>
  <%= @timetableap.e6 %>
</p>

<p>
  <b>E0:</b>
  <%= @timetableap.e0 %>
</p>


<%= link_to 'Edit', edit_timetableap_path(@timetableap) %> |
<%= link_to 'Back', timetableaps_path %>
