%p#notice= notice

%p
  %b Country name:
  = @country.country_name
%p
  %b Country iata code:
  = @country.country_iata_code
%p
  %b Country icao code:
  = @country.country_icao_code
%p
  %b Country number:
  = @country.country_number

<h1>Listing airports</h1>

= will_paginate @airports
%table
  %tr
    %th= sortable "id"
    %th= sortable "iata_code"
    %th= sortable "icao_code"
    %th= sortable "name_rus"
    %th= sortable "city_rus"
  -@airports.each do |airport|
    %tr 
      %td= airport.id    
      %td= airport.iata_code   
      %td= airport.icao_code
      %td= link_to airport.name_rus, airport, :onclick => "return hs.htmlExpand(this, { objectType: 'ajax'} )" , :class => "demo1", :id => airport.id.to_s 
      %td= link_to airport.city_rus, :controller=>"airports", :action => "city", :city_eng => airport.city_eng
      %td= link_to 'Edit', edit_airport_path(airport), :onclick => "return hs.htmlExpand(this, { objectType: 'iframe'} )"
      %td= link_to 'Destroy', airport, method: :delete, data: { confirm: "Вы уверены, что хотите удалить аэропорт "+airport.name_rus+" в городе "+ airport.city_rus}
= will_paginate @airports
%br
= link_to 'Edit', edit_country_path(@country)
\|
= link_to 'Back', countries_path+"?search=&utf8=✓"
