%h1 Список rw_routes

%table
  %tr
    %th Start route
    %th End route
    %th
    %th
    %th

  - @rw_routes.each do |rw_route|
    %tr
      %td= rw_route.start_route
      %td= rw_route.end_route
      %td= link_to 'Открыть', rw_route
      %td= link_to 'Редактировать', edit_rw_route_path(rw_route)
      %td= link_to 'Удалить', rw_route, :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Создать Rw route', new_rw_route_path

%br
%div{ :style => 'width: 10%; margin: 0px auto;' }
  = will_paginate(@rw_route, :previous_label => '&#8592;', :next_label => '&#8594;')